:root {
  /* ### Primary */

  --color-Dark-Blue-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
  --color-Dark-Blue-main-background: hsl(218, 28%, 13%);
  --color-Dark-Blue-footer-background: hsl(216, 53%, 9%);
  --color-Dark-Blue-testimonials-background: hsl(219, 30%, 18%);

  /* ### Accent */

  --color-Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --color-Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --color-Light-Red-error: hsl(0, 100%, 63%);

  /* ### Neutral */

  --color-White: hsl(0, 0%, 100%);

  font-size: var(--fontSize);

  --fontSize: 14px;

  --fontSize-x9-small: calc(var(--fontSize) * 0.9);
  --fontSize-x8-small: calc(var(--fontSize) * 0.8);
  --fontSize-x7-small: calc(var(--fontSize) * 0.7);
  --fontSize-x6-small: calc(var(--fontSize) * 0.6);
  --fontSize-x5-small: calc(var(--fontSize) * 0.5);
  --fontSize-x4-small: calc(var(--fontSize) * 0.4);
  --fontSize-x3-small: calc(var(--fontSize) * 0.3);
  --fontSize-x2-small: calc(var(--fontSize) * 0.2);
  --fontSize-x1-small: calc(var(--fontSize) * 0.1);

  --fontSize-x11-large: calc(var(--fontSize) * 1.1);
  --fontSize-x12-large: calc(var(--fontSize) * 1.2);
  --fontSize-x13-large: calc(var(--fontSize) * 1.3);
  --fontSize-x14-large: calc(var(--fontSize) * 1.4);
  --fontSize-x15-large: calc(var(--fontSize) * 1.5);
  --fontSize-x16-large: calc(var(--fontSize) * 1.6);
  --fontSize-x17-large: calc(var(--fontSize) * 1.7);
  --fontSize-x18-large: calc(var(--fontSize) * 1.8);
  --fontSize-x19-large: calc(var(--fontSize) * 1.9);
  --fontSize-x20-large: calc(var(--fontSize) * 2);
  --fontSize-x21-large: calc(var(--fontSize) * 2.1);
  --fontSize-x25-large: calc(var(--fontSize) * 2.5);
  --fontSize-x30-large: calc(var(--fontSize) * 3);
  --fontSize-x35-large: calc(var(--fontSize) * 3.5);
  --fontSize-x40-large: calc(var(--fontSize) * 4);
  --fontSize-x45-large: calc(var(--fontSize) * 4.5);
  --fontSize-x50-large: calc(var(--fontSize) * 5);

  --fontWeight-normal: 400;
  --fontWeight-bold: 700;

  --ff-Open-Sans-Body: "Open Sans", sans-serif;
  --ff-Raleway-Headings-Call-to-actions-Header-Navigation: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--fontSize);
}

body {
  background-color: var(--color-Dark-Blue-main-background);
  color: var(--color-White);
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Header ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

header {
  background-color: var(--color-Dark-Blue-intro-and-email-sign-up-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-normal);
}

.header-menu {
  list-style-type: none;
  display: flex;
}

.header-menu li + li {
  margin-left: 2rem;
}

/* //////////////////////////////////////////////////////////////////////////////// */

.page {
  height: auto;
}

.btn {
  color: var(--color-White);
  background-image: linear-gradient(
    to right,
    var(--color-Cyan-inside-call-to-action-gradient),
    var(--color-Blue-inside-call-to-action-gradient)
  );
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-bold);
  border-radius: 50px;

  padding: 1rem 1rem;
  max-width: 15rem;
  width: 100%;
  border: none;
  outline: none;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 1 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-1 {
  background-color: var(--color-Dark-Blue-intro-and-email-sign-up-background);
  background-image: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  /* background-color: white; */
  /* background-color: var(--color-Dark-Blue-main-background); */

  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 111.3px);
}

.page-1 h1 {
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-x30-large);
  max-width: 35ch;
  margin: 2rem 0;
  line-height: 1.5;
}

.page-1 p {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
  max-width: 50ch;
  line-height: 1.5;
}

.page-1 .btn {
  margin: 2rem 0;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 2 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
  grid-auto-flow: row;
  grid-template-areas:
    "access-anywhere security"
    "collaboration any-file";
  padding: 5rem 0;
}

.access-anywhere {
  justify-self: end;
  align-self: end;
  grid-area: access-anywhere;
}

.security {
  justify-self: start;
  align-self: end;
  grid-area: security;
}

.collaboration {
  justify-self: end;
  align-self: start;
  grid-area: collaboration;
}

.any-file {
  justify-self: start;
  align-self: start;
  grid-area: any-file;
}

.page-2-img {
  height: 7rem;
  width: 7rem;
}

.page-2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.page-2 h2 {
  font-size: var(--fontSize-x15-large);
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-bold);
}

.page-2 p {
  max-width: 45ch;
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 3 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-3 {
  display: flex;
}

.page-3-img {
  flex: 1;
  padding: 0 4rem;
}

.page-3-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.page-3-text-container h1 {
  font-size: var(--fontSize-x20-large);
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-bold);
  max-width: 15ch;
}

.page-3-text-container p {
  max-width: 62ch;
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
}

.page-3-text-container p:not(:last-child) {
  margin: 1rem 0;
}

.link {
    color: var(--color-Cyan-inside-call-to-action-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .link:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--color-Cyan-inside-call-to-action-gradient);
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -0.25rem;
  }
  
  .link img {
    height: 1rem;
    width: 1rem;
  }

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 4 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.page-4-container {
  background-color: var(--color-Dark-Blue-testimonials-background);
  margin: 1rem;
  padding: 2rem;
}

.page-4 h2 {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
  margin: 0 0 1rem 0;
  /* font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation); */
}

.name-card {
  display: flex;
  align-items: center;
  /* height: auto; */
  height: 4rem;
  gap: 1rem;
}

.name-img {
  height: 100%;
  width: auto;
}

.name-img img {
  border-radius: 50%;
}

.name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-name {
    font-family: var(--ff-Open-Sans-Body);
    font-weight: var(--fontWeight-bold);
    font-size: var(--fontSize-x13-large);
}

.name-title {
    font-family: var(--ff-Open-Sans-Body);
    font-weight: var(--fontWeight-normal);

}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
