:root {
  /* ### Primary */

  --color-Dark-Blue-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
  --color-Dark-Blue-main-background: hsl(218, 28%, 13%);
  --color-Dark-Blue-footer-background: hsl(216, 53%, 9%);
  --color-Dark-Blue-testimonials-background: hsl(219, 30%, 18%);

  /* ### Accent */

  --color-Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --color-Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);

  --color-Light-Red-error: hsl(0, 100%, 63%);

  /* ### Neutral */

  --color-White: hsl(0, 0%, 100%);

  font-size: var(--fontSize);

  --fontSize: 14px;

  --fontSize-x9-small: calc(var(--fontSize) * 0.9);
  --fontSize-x8-small: calc(var(--fontSize) * 0.8);
  --fontSize-x7-small: calc(var(--fontSize) * 0.7);
  --fontSize-x6-small: calc(var(--fontSize) * 0.6);
  --fontSize-x5-small: calc(var(--fontSize) * 0.5);
  --fontSize-x4-small: calc(var(--fontSize) * 0.4);
  --fontSize-x3-small: calc(var(--fontSize) * 0.3);
  --fontSize-x2-small: calc(var(--fontSize) * 0.2);
  --fontSize-x1-small: calc(var(--fontSize) * 0.1);

  --fontSize-x11-large: calc(var(--fontSize) * 1.1);
  --fontSize-x12-large: calc(var(--fontSize) * 1.2);
  --fontSize-x13-large: calc(var(--fontSize) * 1.3);
  --fontSize-x14-large: calc(var(--fontSize) * 1.4);
  --fontSize-x15-large: calc(var(--fontSize) * 1.5);
  --fontSize-x16-large: calc(var(--fontSize) * 1.6);
  --fontSize-x17-large: calc(var(--fontSize) * 1.7);
  --fontSize-x18-large: calc(var(--fontSize) * 1.8);
  --fontSize-x19-large: calc(var(--fontSize) * 1.9);
  --fontSize-x20-large: calc(var(--fontSize) * 2);
  --fontSize-x21-large: calc(var(--fontSize) * 2.1);
  --fontSize-x25-large: calc(var(--fontSize) * 2.5);
  --fontSize-x30-large: calc(var(--fontSize) * 3);
  --fontSize-x35-large: calc(var(--fontSize) * 3.5);
  --fontSize-x40-large: calc(var(--fontSize) * 4);
  --fontSize-x45-large: calc(var(--fontSize) * 4.5);
  --fontSize-x50-large: calc(var(--fontSize) * 5);

  --fontWeight-normal: 400;
  --fontWeight-bold: 700;

  --ff-Open-Sans-Body: "Open Sans", sans-serif;
  --ff-Raleway-Headings-Call-to-actions-Header-Navigation: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--fontSize);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  background-color: var(--color-Dark-Blue-main-background);
  color: var(--color-White);
}

main {
  position: relative;
  z-index: 1;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Header ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

header {
  background-color: var(--color-Dark-Blue-intro-and-email-sign-up-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-normal);
}

.header-menu {
  list-style-type: none;
  display: flex;
}

.header-menu li {
  cursor: pointer;
}

.header-menu li::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  /* background-color: transparent; */
  background-color: var(--color-White);
  /* transition: 250ms cubic-bezier(0,-1.12,1,1.87); */

  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.header-menu li:hover::after {
  /* background-color: var(--color-White); */
  transform: scaleX(1);
}

.header-menu li + li {
  margin-left: 2rem;
}

/* //////////////////////////////////////////////////////////////////////////////// */

.page {
  height: auto;
}

.btn {
  color: var(--color-White);
  background-image: linear-gradient(
    to right,
    var(--color-Cyan-inside-call-to-action-gradient),
    var(--color-Blue-inside-call-to-action-gradient)
  );
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-bold);
  border-radius: 50px;

  padding: 1rem 1rem;
  max-width: 15rem;
  width: 100%;
  border: none;
  outline: none;
  transition: 250ms ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(
    to right,
    /* hsl(176, 68%, 74%), */ hsl(176, 68%, 84%),
    /* hsl(198, 60%, 60%) */ hsl(198, 60%, 70%)
  );
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 1 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-1 {
  background-color: var(--color-Dark-Blue-intro-and-email-sign-up-background);
  background-image: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  /* background-color: white; */
  /* background-color: var(--color-Dark-Blue-main-background); */

  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 111.3px);
}

.page-1 h1 {
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-x30-large);
  max-width: 35ch;
  margin: 2rem 0;
  line-height: 1.5;
}

.page-1 p {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
  max-width: 50ch;
  line-height: 1.5;
}

.page-1 .btn {
  margin: 2rem 0;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 2 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
  grid-auto-flow: row;
  grid-template-areas:
    "access-anywhere security"
    "collaboration any-file";
  padding: 5rem 0;
}

.access-anywhere {
  justify-self: end;
  align-self: end;
  grid-area: access-anywhere;
}

.security {
  justify-self: start;
  align-self: end;
  grid-area: security;
}

.collaboration {
  justify-self: end;
  align-self: start;
  grid-area: collaboration;
}

.any-file {
  justify-self: start;
  align-self: start;
  grid-area: any-file;
}

.page-2-img {
  height: 7rem;
  width: 7rem;
}

.page-2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.page-2 h2 {
  font-size: var(--fontSize-x15-large);
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-bold);
}

.page-2 p {
  max-width: 45ch;
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 3 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-3 {
  display: flex;
}

.page-3-img {
  flex: 1;
  padding: 0 4rem;
}

.page-3-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.page-3-text-container h1 {
  font-size: var(--fontSize-x20-large);
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-bold);
  max-width: 15ch;
}

.page-3-text-container p {
  max-width: 62ch;
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
}

.page-3-text-container p:not(:last-child) {
  margin: 1rem 0;
}

.link {
  color: var(--color-Cyan-inside-call-to-action-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 250ms ease-in-out;
  cursor: pointer;
}

.link:hover {
  color: var(--color-White);
}

.link:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-Cyan-inside-call-to-action-gradient);
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -0.25rem;
}

.link:hover:after {
  background-color: var(--color-White);
}

.link img {
  height: 1rem;
  width: 1rem;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Page 4 ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.page-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15rem 0 25rem 0;
}

.page-4-container {
  background-color: var(--color-Dark-Blue-testimonials-background);
  margin: 1rem;
  padding: 2rem;
}

.page-4-start {
  position: relative;
}

.page-4-quote {
  position: absolute;
  top: -2.25rem;
  left: -0.5rem;
  z-index: -1;
}

.page-4 h2 {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
  margin: 0 0 1rem 0;
  max-width: 36ch;
}

.name-card {
  display: flex;
  align-items: center;
  /* height: auto; */
  height: 4rem;
  gap: 1rem;
}

.name-img {
  height: 100%;
  width: auto;
}

.name-img img {
  border-radius: 50%;
}

.name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-name {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-x13-large);
}

.name-title {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Early Access /////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

.early-access {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -75%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 4rem;
  max-width: 60rem;
  width: 100%;
  background-color: var(--color-Dark-Blue-intro-and-email-sign-up-background);
  border-radius: 4px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.early-access h1 {
  font-size: var(--fontSize-x30-large);
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-bold);
}

.early-access p {
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
  max-width: 78ch;
  margin: 2rem 0;
}

.btn-container {
  display: flex;
  width: 100%;
  gap: 1rem;
  position: relative;
  margin-bottom: 2rem;
}

.error-msg {
  position: absolute;
  bottom: -2rem;
  left: 2rem;
  color: var(--color-Light-Red-error);
  display: none;
}

.email-input {
  background-color: var(--color-White);
  color: var(--color-White);
  font-family: var(--ff-Raleway-Headings-Call-to-actions-Header-Navigation);
  font-weight: var(--fontWeight-bold);
  border-radius: 50px;
  padding: 1rem 2rem;
  color: var(--color-Dark-Blue-intro-and-email-sign-up-background);
  width: 100%;
  border: none;
  outline: none;
  z-index: 10;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Footer ///////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

footer {
  background-color: var(--color-Dark-Blue-footer-background);
  display: flex;
  flex-direction: column;
  padding: 10rem 5rem;
  position: relative;
  gap: 2rem;
  font-family: var(--ff-Open-Sans-Body);
  font-weight: var(--fontWeight-normal);
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-first {
  display: flex;
  gap: 1rem;
}

.footer-first-img {
  height: 1rem;
  width: 1rem;
}

.footer-first p {
  max-width: 35ch;
  line-height: 1.5;
}

.footer-second,
.footer-third,
.footer-fourth {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.footer-third li,
.footer-fourth li {
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.footer-third li:hover,
.footer-fourth li:hover {
  font-weight: var(--fontWeight-bold);
}

.footer-second div {
  display: flex;
  gap: 2rem;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.social-media i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-White);
  transition: 250ms ease-in-out;
  cursor: pointer;
}

.social-media i:hover {
  color: var(--color-Cyan-inside-call-to-action-gradient);
  border: 1px solid var(--color-Cyan-inside-call-to-action-gradient);
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* Media Queries ////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 768px) {
  .page-1 {
    padding: 0 10%;
  }

  .page-2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "access-anywhere"
      "security"
      "collaboration"
      "any-file";
  }
  .access-anywhere,
  .security,
  .collaboration,
  .any-file {
    align-self: inherit;
    justify-self: inherit;
  }

  .page-3 {
    flex-direction: column;
  }
  .page-3-text-container {
    margin-top: 2rem;
    padding: 0 4rem;
  }
  .page-3-text-container h1 {
    max-width: 100%;
    align-self: center;
  }

  .page-4 {
    flex-direction: column;
  }

  .btn-container {
    flex-direction: column;
  }

  .btn-container .btn {
    max-width: 100%;
  }

  .footer-info {
    flex-direction: column;
    gap: 3rem;
  }

  .social-media {
    justify-content: center;
  }
}

